<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <span class="fs-4">Desafio Defontana</span>
    </a>
    <ul class="nav nav-pills">
      <li *ngFor="let el of navData" class="nav-item"><a routerLinkActive="active" [routerLink]="el.link" class="nav-link">{{ el.title }}</a></li>
    </ul>
  </div>
</header>
<main class="flex-shrink-0">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Clasificación de los seres vivos</h1>
        <p class="col-lg-10 fs-4">El sistema de los tres dominios es una clasificación biológica propuesta por Carl Woese y colaboradores en 1977, que clasifica el árbol de la vida en tres grupos (Bacteria, Archaea, Eucarya).</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Hecho con 💖 por <a href="https://github.com/jhormanrus">jhormanrus</a></span>
  </div>
</footer>
